<form [formGroup]="articleForm" (ngSubmit)="saveArticle()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Tiêu đề bài viết</label>
    <input type="text"
           class="form-control"
           id="exampleFormControlInput1"
           formControlName="title"
    >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Hình ảnh</label>
    <input type="url"
           class="form-control"
           id="exampleFormControlInput1"
           formControlName="image"
    >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Nội dung</label>
    <textarea formControlName="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button class="btn btn-primary" [disabled]="articleForm.invalid">Lưu</button>
  <button class="btn btn-secondary">Reset</button>

</form>
